* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: #0a0d1a;
  color: #e6e8ef;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg, video {
  max-width: 100%;
  height: auto;
}

:root {
  color-scheme: dark;
}
